In [52]:
import pandas as pd
csv_file_path="statscsv.csv"
df= pd.read_csv(csv_file_path)
df = pd.read_csv(csv_file_path, sep='\t')
df = pd.read_csv(csv_file_path, na_values='NA')

In [53]:
df

,Data file name,"""query file name""","""warm""",RDF triplets number,"""query number""",Data reading time(ms),Query reading time(ms),Nb requete treated/S,Dictionary construction time(ms),"""Index number""",...,Nb no response request,Nb response,% response equal to Jena,Jena process time(ms),NB Queries Same Patterns,NB doublons requete,time/NB pattern,Ram used/Pattern,Ram utilisé GO,NB total patterns
0,part3_data/Copie de data_500K.nt,folder : part3_queries,warm,539289,13000,5185,1259,10000,288,1 - OPS,...,6749,6251,100.0,8972.0,{1->6532 | 2->5195 | 3->3881 ...,6874,{1->9100 | 2->8000 | 3->8100 ...,{1->0 | 2->0 | 3->0 | 4->0},-1,33733
1,part3_data/Copie de data_500K.nt,folder : part3_queries,warm,539289,13000,4836,1364,9000,288,1 - OPS,...,6749,6251,100.0,9131.0,{1->6519 | 2->5186 | 3->3894 ...,6874,{1->8900 | 2->8900 | 3->8400 ...,{1->0 | 2->0 | 3->0 | 4->0},-1,33777

In [ ]:
Mesures : 
- Temps total d'execution des requêtes. 
- equivalence réponses de jena/ nos réponses. 
- temps total/moyen d'execution de requêtes en fonction du nombre de patterns. 
- Mémoire ram consomé(total).
- Mémoire ram consomé en fonction du nombre de patterns des requêtes.
- Nombre de requêtes traité / seconde.
- workload evaluation time en fonction du warm.