In [25]:
import pandas as pd
csv_file_path="statscsv.csv"
df= pd.read_csv(csv_file_path)
df = pd.read_csv(csv_file_path, sep='\t')
df = pd.read_csv(csv_file_path, na_values='NA')

In [26]:
df

                                                                                                                             Data file name, "query file name", "RDF triplets number", "query number","Data reading time(ms)","Query reading time(ms)" ,"Dictionary construction time(ms)", "Index number","Index creation time","Workload evaluation time (ms)","Total time(ms)","Nb no response request","Nb response","% response equal to Jena","Jena process time(ms)"
part3_data/Copie de data_500K.nt folder : part3_queries 539289  13000 2250  591 244  1 - OPS 826  121 11054 6749 6251 100.0                                             5452.0
part3_data/Copie de data_2M.nt   folder : part3_queries 2141798 13000 13442 851 1442 1 - OPS 6404 378 47870 5562 7438 100.0                                            20627.0